In [1]:
# Import the dependencies.

import pandas as pd
import gmaps
import requests

#import the api key
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Jalu,LY,2021-10-31 00:27:42,29.0331,21.5482,66.87,49,0,4.12
1,1,Tiksi,RU,2021-10-31 00:27:42,71.6872,128.8694,3.56,91,98,9.51
2,2,Hermanus,ZA,2021-10-31 00:27:43,-34.4187,19.2345,60.91,89,42,8.55
3,3,Yeppoon,AU,2021-10-31 00:27:43,-23.1333,150.7333,83.98,63,25,8.30
4,4,Avarua,CK,2021-10-31 00:26:16,-21.2078,-159.7750,78.85,53,94,13.80

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.

gmaps.configure(api_key = g_key)

In [17]:


# Heatmap of temperature
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[['Lat', 'Lng']]

# Get the maximum temperature.
max_temp = city_data_df['Max Temp']

# Assign the figure variable.
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)


# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [23]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Yeppoon,AU,2021-10-31 00:27:43,-23.1333,150.7333,83.98,63,25,8.30
4,4,Avarua,CK,2021-10-31 00:26:16,-21.2078,-159.7750,78.85,53,94,13.80
6,6,Rikitea,PF,2021-10-31 00:27:44,-23.1203,-134.9692,75.09,87,86,21.25
7,7,Hithadhoo,MV,2021-10-31 00:26:34,-0.6000,73.0833,82.78,76,100,20.38
8,8,Kapaa,US,2021-10-31 00:24:43,22.0752,-159.3190,82.38,79,90,5.75
14,14,Carnarvon,AU,2021-10-31 00:27:48,-24.8667,113.6333,75.27,46,0,14.97
21,21,Hilo,US,2021-10-31 00:23:00,19.7297,-155.0900,82.13,75,40,9.22
22,22,Maryborough,AU,2021-10-31 00:27:51,-25.5333,152.7000,83.35,50,72,11.32
26,26,Vaini,TO,2021-10-31 00:27:53,-21.2000,-175.2000,80.76,83,40,11.50
29,29,Victoria,HK,2021-10-31 00:23:06,22.2855,114.1577,76.32,83,87,3.00

In [24]:
preferred_cities_df.count()

City_ID       154
City          154
Country       154
Date          154
Lat           154
Lng           154
Max Temp      154
Humidity      154
Cloudiness    154
Wind Speed    154
dtype: int64

In [25]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
3       Yeppoon      AU     83.98 -23.1333  150.7333
4        Avarua      CK     78.85 -21.2078 -159.7750
6       Rikitea      PF     75.09 -23.1203 -134.9692
7     Hithadhoo      MV     82.78  -0.6000   73.0833
8         Kapaa      US     82.38  22.0752 -159.3190
14    Carnarvon      AU     75.27 -24.8667  113.6333
21         Hilo      US     82.13  19.7297 -155.0900
22  Maryborough      AU     83.35 -25.5333  152.7000
26        Vaini      TO     80.76 -21.2000 -175.2000
29     Victoria      HK     76.32  22.2855  114.1577

In [26]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [30]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [31]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Yeppoon,AU,83.98,-23.1333,150.7333,Villa Mar Colina
4,Avarua,CK,78.85,-21.2078,-159.7750,Paradise Inn
6,Rikitea,PF,75.09,-23.1203,-134.9692,People ThankYou
7,Hithadhoo,MV,82.78,-0.6000,73.0833,Scoop Guest House
8,Kapaa,US,82.38,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
14,Carnarvon,AU,75.27,-24.8667,113.6333,Hospitality Carnarvon
21,Hilo,US,82.13,19.7297,-155.0900,Hilo Hawaiian Hotel
22,Maryborough,AU,83.35,-25.5333,152.7000,Blue Shades Motel
26,Vaini,TO,80.76,-21.2000,-175.2000,Keleti Beach Resort
29,Victoria,HK,76.32,22.2855,114.1577,Mini Hotel Central

In [32]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [35]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))